#main-start-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.draw {
    position: absolute;
    opacity: 0;
}
#grass {
    animation: grassAnimation 0.3s 0.8s ease-in-out forwards;
    background-color: #bee489;
    width: 300px;
    height: 100px;
    border-radius: 40%;
    bottom: -10vh;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#sun {
    animation: sun 0.3s 1s ease-in-out forwards, rotate 10s linear infinite 1.3s;
    z-index: 1;
    top: 0px;
    right: 0px;
    width: 300px;
    transform: scale(0.2), rotate(0deg);
}
#girl {
    animation: sun .2s ease-in-out forwards 1.5s;
    z-index: 1;
    width: 500px;
    bottom: 0;
    left: 30%;
}
.flowers {
    position: absolute;
    width: 50px;
    z-index: 1;
    opacity: 0;
}
#flower1 {
    animation: flowers 0.1s ease-in-out forwards 1.5s;
    bottom: 6vh;
    right: 8vw;
}
#flower2 {
    animation: flowers 0.1s ease-in-out forwards 1.6s;
    bottom: 9.5vh;
    left: 10vw;
}
#flower3 {
    animation: flowers 0.1s ease-in-out forwards 1.7s;
    bottom: 8vh;
    right: 22vw;
}
#flower4 {
    animation: flowers 0.1s ease-in-out forwards 1.8s;
    bottom: 5vh;
    right: 51vw;
}
#flower5 {
    animation: flowers 0.1s ease-in-out forwards 1.9s;
    bottom: 14vh;
    right: 15vw;
}
#flower6 {
    animation: flowers 0.1s ease-in-out forwards 1.7s;
    bottom: 5vh;
    left: 25vw;
}
#flower7 {
    animation: flowers 0.1s ease-in-out forwards 1.5s;
    bottom: 15vh;
    left: 20vw;
}
#flower8 {
    animation: flowers 0.1s ease-in-out forwards 1.6s;
    bottom: 5vh;
    right: 33vw;
}
#flower9 {
    animation: flowers 0.1s ease-in-out forwards 1.8s;
    bottom: 18vh;
    left: 30vw;
}
#flower10 {
    animation: flowers 0.1s ease-in-out forwards 2s;
    bottom: 17vh;
    right: 28vw;
}
#art-therapy {
    width: 100vw;
}
#art-therapy-head {
    animation: animationForArtTherapyHead 0.3s ease-in-out forwards, transitionToRightPart 0.3s 0.5s ease-in-out forwards;
    color: #303030;
    font-size: 100px;
    font-weight: 350;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    z-index: 1;
}
@keyframes animationForArtTherapyHead {
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes transitionToRightPart {
    from {
        font-size: 100px;
    }
    to {
        font-size: 70px;
    }
}   
@keyframes grassAnimation {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(5);
    }
}
@keyframes sun {
    from {
        transform: scale(0.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes flowers {
    from {
        opacity: 0;
        scale: 0.2;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
