body {
  animation: back 0.3s ease-in-out forwards 0.7s;
  background-color: white;
  font-family: "Parkinsans", sans-serif;
  font-style: normal;
  margin: 0;
}
#root {
  position: relative;
}
@keyframes back {
  from {
    background-color: white;
  }
  to {
    background-color: #b0e5ff;
  }
}